// Import Bootstrap's required SCSS files
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Define your custom colors
$purple_0: #faf5ff;
$purple_50: #a855f7;
$purple_100: #3b0764;

$indigo_0: #e0e7ff;
$indigo_50: #6366f1;
$indigo_100: #1e1b4b;

// Add it to the Bootstrap theme-colors map
$theme-colors: map-merge(
  $theme-colors,
  (
    "purple-0": $purple_0,
    "purple-50": $purple_50,
    "purple-100": $purple_100,
    "indigo-0": $indigo_0,
    "indigo-50": $indigo_50,
    "indigo-100": $indigo_100,
  )
);

// Import the rest of Bootstrap
@import "~bootstrap/scss/bootstrap";
